<a class="brand" href="/"><image src="/images/pw-logo-white.svg" onerror="this.src='/images/pw-logo-white.png';" alt="{{ site.title }}"></a>
{% if site.subtitle %}<span class="slogan">{{ site.subtitle }}</span>{% endif %}
<nav class="topnav" role="navigation">
	<ul>
		<li><a href="https://www.pricewaiter.com">Home</a></li>
        <li><a href="https://pricewaiterhelp.zendesk.com/hc/en-us">Support</a></li>
		<li><a href="https://retailer.pricewaiter.com" class="outlined">Sign In</a></li>
	</ul>
</nav>
