<ul class="nav nav-list">
    <li><a href="{{ site.baseurl }}/">Home</a></li>
    {% for section in site.sections %}
        {% assign attr = section[0] %}
        {% assign label = section[1] %}

        {% for page in site.categories[attr] %}
            <li data-order="{{ page.order }}"><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></li>

            {% capture dir %}_includes/{{attr}}{% endcapture %}
            <ul>
            {% directory path: {{dir}} %}
                <li><a href="{{ site.baseurl }}{{ page.url }}#{{ file.slug }}">{{ file.slug }}</a></li>
            {% enddirectory %}
            </ul>

        {% endfor %}

    {% endfor %}
<!-- List additional links. It is recommended to add a divider
    e.g. <li class=divider></li> first to break up the content. -->
</ul>
