.site-footer {
	background: #eee;
	margin-top: 40px;
	padding: 10px gutter();
}

.content-wrap {
	@extend .container;
}

.content-sidebar,
.content-main {
	@extend .column;
}

img.right {
    float: right;
    margin-right: 25px;
}

@media (min-width: $screen-md) {
	.site-header {
		position: fixed;
	    top: 0;
	    width: 100%;
	}

    img.right {
        margin-right: 50px;
    }

	.content-sidebar {
		width: $sidebar-width;
		position: fixed;
		left: 0;
		top: 0;
		bottom: 0;
		overflow: auto;
		padding-top: 100px; // Header Height (81px)
		z-index: 1;
	}

	.content-main {
		margin-left: ($sidebar-width + $sidebar-offset);
		padding-left: 0;
		padding-top: 90px; // Header +
	}

	.site-footer {
		margin-left: $sidebar-width;
		padding-left: $sidebar-offset;
	}
}

// Responsive visibility
// ---------------------

.hidden,
.visible-sm,
.visible-md,
.visible-lg,
.visible-xl {
	display: none;
}

.visible {
	display: block
}

@media (max-width: $screen-sm-max) {
	.visible-sm {
		display: block !important;
	}
	.hidden-sm {
		display: none;
	}
}
@media (min-width: $screen-md) and (max-width: $screen-md-max) {
	.visible-md {
		display: block !important;
	}
	.hidden-md {
		display: none;
	}
}
@media (min-width: $screen-lg) and (max-width: $screen-lg-max) {
	.visible-lg {
		display: block !important;
	}
	.hidden-lg {
		display: none;
	}
}
@media (min-width: $screen-xl) {
	.visible-xl {
		display: block !important;
	}
	.hidden-xl {
		display: none;
	}
}
