.container {
	@include container();
}

.row {
	@include clearfix();
	position: relative;
	margin-left: (gutter() * -1);
	margin-right: (gutter() * -1);
}

.column {
	padding-left: gutter();
	padding-right: gutter();
}

.extend {
	position: relative;
	margin-left: (gutter() * -1);
	margin-right: (gutter() * -1);
}


.column-light,
.column-dark {
	@extend .column;
}

// @media (min-width: $screen-md) {
// 	.column-dark {
// 		background-color: $tan;
// 		color: #fff;
// 		@include span(last 6);
// 	}
// 	.column-light {
// 		@include span(6);
// 	}
// }