// Header
// ------

header.global {

    .brand {
        float: left;
        max-width: 118px;
    }

    .slogan {
        color: $tan-dark;
        display: inline-block;
        padding-left: 18px;
        padding-top: 12px;
        text-shadow: 0 0 -1px rgba(0,0,0,0.3);
    }

    .header-top {
        @extend .container;
        background: $brown url(image-path("header_bg@2x.png")) repeat-x 50% 100%;
        background-size: 21.5px (158px/2px);
        padding: 14px gutter();
    }

    .header-drapes {
        background: url(image-path("header_drape@2x.png")) repeat-x 50% 0;
        background-size: 21.5px 11px;
        height: 11px;

    }

    @media (max-width: $screen-sm-max) {
        .header-top {
            padding: 8px gutter();
        }
        .slogan {
            display: none;
        }
    }
}

// Top Nav
// -------

.topnav {
    float: right;
    margin-top: 10px;

    li {
        display: inline-block;
        padding: 0 0 0 12px;
    }

    a {
        color: #fff;
        border: 1px solid #fff;
        border-radius: 3px;
        padding: 4px 8px;
        transition: all 0.2s linear;

        &:hover {
            color: $blue;
            border-color: $blue;
            text-decoration: none;
        }
    }
}