// General sidebar
// ---------------

.content-sidebar {
	background: $link-color;
}


// Navigation
.sidenav {
	margin: 0 (gutter() * -1) 20px (gutter() * -1);

	a {
		color: #fff;
		display: block;
		padding: 2px gutter();
		transition: all 0.2s linear;

		&:hover {
			// background: $blue;
			background: lighten($link-color, 10%);
			text-decoration: none;
		}
	}

	> ul > li > a {
		background: darken($link-color, 10%);
		font-weight: bold;
		padding: 8px gutter();

		&:hover {
			background: darken($link-color, 4%);
		}
	}

	> ul > li + li {
		border-top: 1px solid $link-color;
	}

	li li {
		font-size: 13px;
		font-weight: 200;
	}
	
	ul ul {
		margin-top: 6px;
		margin-bottom: 10px;
	}
}
