table {
    margin-bottom: 30px;
    width: 100%;
    
    th {
        font-weight: $font-weight-bold;
        white-space: nowrap;
    }

    td {
        font-size: 0.9em;
    }

    th, td {
        border-bottom: 1px solid #ccc;
        padding: 4px 10px;
        text-align: left;
    }

    tr > td:first-child,
    tr > th:first-child {
        padding-left: 0;
        white-space: nowrap;
    }
}

.table-wrap {
    overflow: auto;
    max-width: 100% !important;
}