    <header class="global">
        <div class="container-fluid">
            {% include header.html %}
        </div>
    </header>

    <div class="content-wrap clearfix">
        <aside class="content-sidebar">
            <nav class="sidenav" role="navigation">
                <ul>
                    <li><a>Thing</a>
                </ul>
            </nav>
        </aside>
        <section class="content-main">
            <!-- MAIN BODY STUFF -->
            <article class="row doc-item">
                <div class="col-xs-12 col-md-5">
                    WHITE BG STUFF
                </div>
                <div class="col-xs-12 col-md-7">
                    <nav class="code-nav extend">Ul with li's or a's whatev</nav>
                    DARK AREA
                    <div></div><!--! contents for each *tab* -->
                </div>
            </article>
        </section>
    </div>
    <!-- Maybe
    <footer class="global"></footer>
    -->