<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.25, minimum-scale=1.0, user-scalable=1">

        <title>{{ site.title }}{% if page.title and page.title != site.title %} : {{ page.title }}{% endif %}</title>
        {% if page.description %}
        <meta name="description" content="{{ page.description }}">
        {% endif %}
        <link rel="stylesheet" href="/css/theme.css?bust={{ site.time | date_to_xmlschema | cgi_escape }}">
        {% include google_analytics.html %}
    </head>
    <body>

        <header class="site-header">
            <div class="header-top">
                {% include header.html %}
            </div>
            <div class="header-drapes"></div>
        </header>

        <div class="content-wrap">
            <!-- Unchecked content -->
                <aside class="content-sidebar">
                    <div class="nav-toggle-wrap visible-sm">
                        <a id="nav-toggle" class="nav-toggle">
                            <span class="label">Menu</span>
                            <span class="hamburger">
                                <span></span>
                                <span></span>
                                <span></span>
                            </span>
                        </a>
                    </div>
                    <nav id="sidenav" class="sidenav visible-md visible-lg visible-xl" role="navigation">
                      {% include navigation.html %}
                    </nav>
                </aside>
                <section class="content-main">
                    {{ content }}
                </section>

        </div><!--! .content-wrap -->
        <div id="hidden-mobile"></div>
        {% include footer.html %}
    </body>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.4.0/styles/github.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.4.0/highlight.min.js"></script>
    <script src="/js/jquery.cookie.js?bust={{ site.time | date_to_xmlschema | cgi_escape }}"></script>
    <script src="/js/docs.js?bust={{ site.time | date_to_xmlschema | cgi_escape }}"></script>
</html>
