<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.25, minimum-scale=1.0, user-scalable=1">

        <title>{{ site.title }}{% if page.title %} : {{ page.title }}{% endif %}</title>
        <meta name="description" content="{{ site.subtitle }}">

        {% stylesheet theme.css %}

        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        {% javascript test.js %}
    </head>
    <body>

        <header class="global clearfix">
            <div class="container">
                {% include header.html %}
            </div>
        </header>

        <div class="content-wrap clearfix">
            <!-- Unchecked content -->
                <aside class="content-sidebar">
                    <nav class="sidenav" role="navigation">
                      {% include navigation.html %}
                    </nav>
                </aside>
                <section class="content-main">
                    {{ content }}
                </section>

        </div><!--! .content-wrap -->

        {% include footer.html %}
    </body>
</html>
